<div class="container">
  <div class="titulo d-flex justify-content-center">
    <h1>Rick and Morty App</h1>
  </div>
  <!-----------------------------Cards--------------------------------->
  <div class="card-group">
    <div class="card">
      <img
        src="https://rickandmortyapi.com/api/character/avatar/1.jpeg"
        class="card-img-top"
        alt="Rick Sanchez"
      />
      <div class="card-body">
        <h5 class="card-title">Rick Sanchez</h5>
      </div>
    </div>
    <div class="card">
      <img
        src="https://rickandmortyapi.com/api/character/avatar/2.jpeg"
        class="card-img-top"
        alt="Morty Smith"
      />
      <div class="card-body">
        <h5 class="card-title">Morty Smith</h5>
      </div>
    </div>
    <div class="card">
      <img
        src="https://rickandmortyapi.com/api/character/avatar/3.jpeg"
        class="card-img-top"
        alt="Summer Smith"
      />
      <div class="card-body">
        <h5 class="card-title">Summer Smith</h5>
      </div>
    </div>
  </div>
</div>
