<div
  class="container d-flex justify-content-center align-items-center flex-column"
>
  <div class="titulo d-flex justify-content-center">
    <h1>Rick and Morty Show</h1>
  </div>
  <!-----------------------------Cards--------------------------------->
  <div class="card-group d-flex justify-content-center align-items-center w-75">
    <div class="card">
      <img
        src="https://rickandmortyapi.com/api/character/avatar/1.jpeg"
        class="card-img-top"
        alt="Rick Sanchez"
      />
      <div class="card-body">
        <h5 class="card-title">Rick Sanchez</h5>
      </div>
    </div>
    <div class="card">
      <img
        src="https://rickandmortyapi.com/api/character/avatar/2.jpeg"
        class="card-img-top"
        alt="Morty Smith"
      />
      <div class="card-body">
        <h5 class="card-title">Morty Smith</h5>
      </div>
    </div>
  </div>
  <!---------------------------------------------------------------->
  <h3 class="d-flex justify-content-center align-items-center">
    <a href="#" routerLink="/personajes"
      >AQUÍ ENCONTRARÁS A TODOS LOS PERSONAJES DE LA SERIE</a
    >
  </h3>
  <app-footer></app-footer>
</div>
