.card {
  margin: 1rem;
  border: 4px solid grey !important;
  border-radius: 0;
}
a {
  color: rgb(2, 156, 4);
  text-decoration: none;
  font-style: italic;
  text-align: center;
}
@media screen and (width<576px) {
  .card-group {
    flex-direction: column;
  }
}
