<h2 class="d-flex justify-content-center m-2">TODOS LOS</h2>
<h2 class="d-flex justify-content-center m-2">PERSONAJES</h2>
<h2 class="d-flex justify-content-center m-2">ESTÁN AQUÍ</h2>
<div class="paginacion">
  <div
    class="boton-page d-flex m-1"
    *ngFor="
      let item of paginasTotales
        | paginate : { itemsPerPage: 1, currentPage: page }
    "
  ></div>
</div>
<div class="controles">
  <pagination-controls
    (click)="traerPagina(page)"
    (pageChange)="page = $event"
    previousLabel="Anterior"
    nextLabel="Siguiente"
  ></pagination-controls>
</div>
<h2 class="titulo">Pagina {{ page }}</h2>
<div class="card-container d-grid gap-2">
  <div class="card" *ngFor="let item of personajes">
    <img src="{{ item.image }}" class="card-img-top" alt="{{ item.name }}" />
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{ item.name }}</h5>
      <button class="align-self-center" (click)="idIndividuo(item.id)">
        Detalles
      </button>
    </div>
  </div>
</div>
<div class="controles my-4">
  <pagination-controls
    (click)="traerPagina(page)"
    (pageChange)="page = $event"
    previousLabel="Anterior"
    nextLabel="Siguiente"
  ></pagination-controls>
</div>
<app-footer></app-footer>
