.card {
  border: 4px solid grey !important;
  border-radius: 0;
}
img {
  height: auto;
}
button {
  border-radius: 5%;
  border: 2px solid grey;
}
.controles {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo {
  padding-left: 2rem;
}

.card-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (width<992px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (width<768px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (width<576px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
